/*<<< -------------- Css Reset ------------>>>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// <<< -------------- Variables ------------>>>
$primary: #162542;
$secondary: #e8eff2;
$tertiary: #f16718;
$light-primary: #7b8bad;
$light-tertiary: #ff9b62;

// <<< -------------- Media query Mixins ------------>>>

@mixin phone {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}

/*<<< -------------- Base h1-h3 and p------------>>>*/
h1 {
  color: $primary;
  font-size: 56px;
  font-weight: bold;
  line-height: 56px;
  text-transform: uppercase;
  @include tablet {
    font-size: 48px;
    line-height: 48px;
  }
}
h2 {
  color: $primary;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}
h3 {
  color: $primary;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}
p {
  color: $light-primary;
  line-height: 26px;
  @include tablet {
    font-size: 16px;
  }
}

/*<<< -------------- Button commponents ------------>>>*/

.btn {
  padding: 16px 26px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  &--primary {
    background-color: $secondary;
    color: $primary;
    &:hover {
      background-color: $primary;
      color: $secondary;
    }
  }
  &--secondary {
    background-color: $tertiary;
    color: white;
    &:hover {
      background-color: $light-tertiary;
      color: white;
    }
  }
  @include phone {
    padding: 11px 14px;
  }
}
