/*<<< -------------- Css Reset ------------>>>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*<<< -------------- Base h1-h3 and p------------>>>*/
h1 {
  color: #162542;
  font-size: 56px;
  font-weight: bold;
  line-height: 56px;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
}

h2 {
  color: #162542;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
}

h3 {
  color: #162542;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
}

p {
  color: #7b8bad;
  line-height: 26px;
}
@media (max-width: 800px) {
  p {
    font-size: 16px;
  }
}

/*<<< -------------- Button commponents ------------>>>*/
.btn {
  padding: 16px 26px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn--primary {
  background-color: #e8eff2;
  color: #162542;
}
.btn--primary:hover {
  background-color: #162542;
  color: #e8eff2;
}
.btn--secondary {
  background-color: #f16718;
  color: white;
}
.btn--secondary:hover {
  background-color: #ff9b62;
  color: white;
}
@media (max-width: 400px) {
  .btn {
    padding: 11px 14px;
  }
}

footer {
  width: 100%;
  text-align: center;
  color: #7b8bad;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.8px;
  opacity: 0.8;
}
footer span {
  font-weight: 500;
}

body {
  font-family: "Barlow", sans-serif;
}

/* <<<----------- Main layout ------------>>> */
.main {
  width: 100%;
  padding: 55px 165px;
  background: url(../shared/pattern-square.svg) no-repeat 1305px 196px, url(../shared/pattern-square.svg) no-repeat -120px 950px;
}
@media (max-width: 800px) {
  .main {
    background: none;
  }
}
.main__header {
  width: 100%;
  height: 58px;
  margin-bottom: 83px;
}
.main__heroes {
  width: 100%;
  margin-bottom: 47px;
}
@media (max-width: 400px) {
  .main__heroes {
    margin-bottom: 20px;
  }
}
.main__jumbotron {
  width: 100%;
  margin-bottom: 168px;
}
@media (max-width: 400px) {
  .main__jumbotron {
    margin-bottom: 111px;
  }
}
.main__feature {
  width: 100%;
}
@media (max-width: 800px) {
  .main {
    padding: 40px;
  }
}
@media (max-width: 400px) {
  .main {
    padding: 24px;
  }
}

/* <<<----------- Header Section ------------>>> */
.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  align-self: center;
}

/* <<<----------- Heroes Section ------------>>> */
.heroes {
  display: flex;
  gap: 70px;
  justify-content: space-between;
  height: max-content;
}
@media (max-width: 1050px) {
  .heroes {
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .heroes {
    flex-wrap: nowrap;
  }
}
@media (max-width: 700px) {
  .heroes {
    flex-direction: column;
  }
}
.heroes__text {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 445px;
  height: 312px;
}
@media (max-width: 800px) {
  .heroes__text {
    flex-shrink: 0;
    width: 345px;
  }
}
.heroes__p {
  font-size: 18px;
}
.heroes__p--small {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.8px;
  opacity: 0.8;
}
.heroes__btn {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 35px;
}
.heroes__img {
  background: url(../desktop/image-keyboard.jpg) no-repeat 0 0/540px 480px;
  width: 540px;
  height: 480px;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .heroes__img {
    background: url(../tablet/image-keyboard.jpg) no-repeat 0 0/478px 425px;
    min-width: 478px;
    height: 425px;
  }
}
@media (max-width: 400px) {
  .heroes__img {
    background: url(../mobile/image-keyboard.jpg) no-repeat 0 0/372px 331px;
    min-height: 331px;
    height: 331px;
  }
}

/* <<<----------- Jumbotron Section ------------>>> */
.jumbotron {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .jumbotron {
    gap: 72px;
    flex-direction: column;
  }
}
.jumbotron__img-box {
  display: flex;
  gap: 30px;
  height: 480px;
}
@media (max-width: 800px) {
  .jumbotron__img-box {
    height: 320px;
  }
}
@media (max-width: 400px) {
  .jumbotron__img-box {
    height: 193px;
    gap: 20px;
    margin-left: -45px;
  }
}
.jumbotron__img-box .jumbotron__img-1 {
  background: url(../desktop/image-phone-and-keyboard.jpg) no-repeat 0 0/255px 480px;
  background-color: #f16718;
  background-blend-mode: multiply;
  width: 255px;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .jumbotron__img-box .jumbotron__img-1 {
    background-image: url(../tablet/image-phone-and-keyboard.jpg);
    background-size: 214px 320px;
    width: 214px;
  }
}
@media (max-width: 400px) {
  .jumbotron__img-box .jumbotron__img-1 {
    background-image: url(../mobile/image-phone-and-keyboard.jpg);
    background-size: 129px 193px;
    width: 129px;
  }
}
.jumbotron__img-box .jumbotron__img-2 {
  background: url(../desktop/image-glass-and-keyboard.jpg) no-repeat 0 0/445px 480px;
  width: 445px;
  border-radius: 20px;
}
@media (max-width: 800px) {
  .jumbotron__img-box .jumbotron__img-2 {
    background-image: url(../tablet/image-glass-and-keyboard.jpg);
    background-size: 445px 320px;
  }
}
@media (max-width: 400px) {
  .jumbotron__img-box .jumbotron__img-2 {
    background-image: url(../mobile/image-glass-and-keyboard.jpg);
    background-size: 220px 193px;
  }
}
.jumbotron__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 255px;
  align-self: center;
}
@media (max-width: 1370px) {
  .jumbotron__text {
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
    gap: 36px;
  }
}
@media (max-width: 550px) {
  .jumbotron__text {
    flex-direction: column;
    text-align: center;
  }
}

/* <<<----------- Features Section ------------>>> */
.feature {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 255px;
}
@media (max-width: 650px) {
  .feature__item {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
.feature__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #f16718;
  border-radius: 16px;
  margin-bottom: 24px;
}

/*# sourceMappingURL=style.css.map */
