@use "base";

/* <<<----------- Main layout ------------>>> */

.main {
  width: 100%;
  height: 1870px;
  padding: 55px 165px;

  &__header {
    width: 100%;
    height: 58px;
    margin-bottom: 83px;
  }

  &__heroes {
    width: 100%;
    height: 480px;
    margin-bottom: 47px;

    @include base.tablet {
      height: 425px;
    }
  }

  &__jumbotron {
    width: 100%;
    height: 480px;
  }

  @include base.tablet {
    padding: 40px;
  }

  @include base.phone {
    padding: 24px;
  }
}

/* <<<----------- Header Section ------------>>> */

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    align-self: center;
  }
}

/* <<<----------- Heroes Section ------------>>> */

.heroes {
  $self: &;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  height: max-content;

  @include base.phone {
    flex-direction: column;
  }

  &__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 445px;
    height: 312px;

    @include base.tablet {
      flex-shrink: 0;
      width: 345px;
    }

    #{ $self }__p {
      font-size: 18px;

      &--small {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }
    }

    #{ $self }__btn {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 35px;
    }
  }
  &__img {
    background: url(../desktop/image-keyboard.jpg) no-repeat 0 0/ 540px 480px;
    width: 540px;
    border-radius: 20px;

    @include base.tablet {
      background: url(../tablet/image-keyboard.jpg) no-repeat 0 0/ 478px 425px;
      min-width: 478px;
    }

    @include base.phone {
      background: url(../mobile/image-keyboard.jpg) no-repeat 0 0/ 372px 331px;
      min-height: 331px;
    }
  }
}

/* <<<----------- Jumbotron Section ------------>>> */

.jumbotron {
  $self: &;
  display: flex;
  justify-content: space-between;

  @include base.tablet {
    gap: 72px;
    flex-direction: column;
  }

  &__img-box {
    display: flex;
    gap: 30px;
    height: 480px;

    @include base.phone {
      gap: 20px;
      margin-left: -45px;
    }

    #{ $self }__img-1 {
      background: url(../desktop/image-phone-and-keyboard.jpg) no-repeat 0 0 /
        255px 480px;
      background-color: base.$tertiary;
      background-blend-mode: multiply;
      width: 255px;
      border-radius: 20px;

      @include base.tablet {
        background-image: url(../tablet/image-phone-and-keyboard.jpg);
        background-size: 214px 320px;
        width: 214px;
      }

      @include base.phone {
        background-image: url(../mobile/image-phone-and-keyboard.jpg);
        background-size: 129px 193px;
        min-width: 129px;
      }
    }

    #{ $self }__img-2 {
      background: url(../desktop/image-glass-and-keyboard.jpg) no-repeat 0 0 /
        445px 480px;
      width: 445px;
      border-radius: 20px;

      @include base.tablet {
        background-image: url(../tablet/image-glass-and-keyboard.jpg);
        background-size: 445px 320px;
      }

      @include base.phone {
        background-image: url(../mobile/image-glass-and-keyboard.jpg);
        background-size: 220px 193px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 255px;
    align-self: center;

    @include base.tablet {
      flex-direction: row;
      align-items: center;
      align-self: flex-start;
      width: 100%;
      gap: 36px;
    }

    @include base.phone {
      flex-direction: column;
      text-align: center;
    }
  }
}

/* <<<----------- Features Section ------------>>> */
