@use "base";

/* <<<----------- Main layout ------------>>> */

.main {
  width: 100%;
  height: 1870px;
  padding: 55px 165px;
  &__header {
    width: 100%;
    height: 58px;
    margin-bottom: 83px;
  }
  &__heroes {
    width: 100%;
    height: 480px;
    @include base.tablet {
      height: 425px;
    }
  }
  @include base.tablet {
    padding: 40px;
  }
  @include base.phone {
    padding: 24px;
  }
}

/* <<<----------- Header Section ------------>>> */

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    align-self: center;
  }
}

/* <<<----------- Heroes Section ------------>>> */

.heroes {
  $self: &;
  display: flex;
  gap: 70px;
  justify-content: space-between;

  &__text {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 445px;
    height: 312px;
    @include base.tablet {
      flex-shrink: 0;
      width: 345px;
    }

    #{ $self }__p {
      font-size: 18px;

      &--small {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
      }
    }

    #{ $self }__btn {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      gap: 35px;
    }
  }
  &__img {
    background: url(../desktop/image-keyboard.jpg) no-repeat 0 0/ 540px;
    height: 100%;
    width: 540px;
    border-radius: 20px;

    @include base.tablet {
      position: relative;
      min-width: 600px;
      background: url(../tablet/image-keyboard.jpg) no-repeat 0 0/ 478px 425px;
    }
  }
}
